@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background: #f8edeb;
    color: #181818;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    margin: 2rem 0;
    background: #fdbd84;
    color: #181818;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    font-weight: 500;
    transition: all 0.4s ease-in;
}

.btn:hover {
    background: #ffd7ba;
    transform: scale(0.98);
}

.container {
    width: 100%;
    padding: 0 5rem;
}

/* section top */
.section-top {
    display: flex;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 90vh;
}

.section-top .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1180px;
}

.section-top h1 {
    font-size: 3rem;
}

.section-top p {
    font-size: 1.3rem;
}

/* section about */
.section-about img {
    width: 500px;
}

.section-about .container {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    gap: 5rem;
}

.section-about .about-us>div {
    background: #fae1dd;
    margin: 2rem 0;
    padding: 4rem 2rem;
}

/* section info */
.section-info .grid img {
    width: 100%;
}

.section-info .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.section-info .grid>div {
    background: #fae1dd;
}

.section-info .grid h3 {
    padding: 0.5rem;
}

.section-info .grid p {
    padding: 0 0.5rem 1rem;
}


/* footer */
.footer {
    background: #e8e8e4;
    margin-top: 3rem;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}

.footer a {
    color: #181818;
    margin: 0 1rem;
}

@media(max-width:750px) {

    /* section top */
    .section-top {
        height: 50vh;
    }

    .section-top h1 {
        font-size: 1.9rem;
    }

    .section-top p {
        font-size: 1rem;
    }

    /* section about */
    .section-about img {
        width: 100%;
    }

    .section-about .container {
        display: block;
    }

    .section-about .about-us>div {
        padding: 2rem 1rem;
    }

    /* section info */
    .section-info .grid img {
        width: 100%;
    }

    .section-info .grid {
        grid-template-columns: 1fr;
    }

}